body{
  background-color: indigo;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  width: 90%;
  border: 2 px solid white;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  flex: right;
  justify-content: center;
}

#header{
  border-bottom: 2px solid gold;
  padding: 7px;
  height: 400px;
  background-image: url(../images/depositphotos_29760945-stock-photo-quiz-red-3d-word-test.webp);
  margin-top: 0;
  color: black;
}
img{
  width: fit-content;
  height: fit-content;
}